force-app/main/default/flows/Alert_on_Lead_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_on_Lead_Status</name>
        <label>Alert on Lead Status</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>LeadAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead Status did not changed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Status_Changed_or_Not</name>
        <label>Status Changed or Not</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open - Not Contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_on_Lead_Status</targetReference>
            </connector>
            <label>Not Changed</label>
        </rules>
    </decisions>
    <interviewLabel>Alert on Lead Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alert on Lead Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Check_for_Status_Hours</name>
            <connector>
                <targetReference>Status_Changed_or_Not</targetReference>
            </connector>
            <label>Check for Status Hours</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>LeadAlert</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},
The below Lead&apos;s status did not changed after 8 hours. Please take a respective action.
Lead Name: {!$Record.Salutation} {!$Record.FirstName} {!$Record.LastName}
Lead Status: {!$Record.Status}
Created Date &amp; Time: {!$Record.CreatedDate}
Record ID:  https://rameshpallerla-dev-ed.lightning.force.com/lightning/r/Lead/{!$Record.Id}/view
Thank you</text>
    </textTemplates>
</Flow>
