force-app/main/default/flows/Clone_Opportunity_with_Related_Lists.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Bulk_CR</name>
        <label>Assign Bulk CR</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>CloneBulkCR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloneCRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunity_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Clone_Record</name>
        <label>Assign Values to Clone Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CloneOppoValues.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Records.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneOppoValues.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOppoName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneOppoValues.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Records.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneOppoValues.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Records.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneOppoValues.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Records.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Clone_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Cloned_CR</name>
        <label>Assign Values to Cloned CR</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CloneCRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneCRole.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Contact_Roles.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneCRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloneOppoValues.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneCRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Contact_Roles.Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Bulk_CR</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>NewOppoName</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_Records.Name} + &quot; - Cloned&quot;</expression>
    </formulas>
    <interviewLabel>Clone Opportunity with Related Lists {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Opportunity with Related Lists</label>
    <loops>
        <name>Loop_Through_Opportunity_Contact_Roles</name>
        <label>Loop Through Opportunity Contact Roles</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Cloned_CR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Related_CR_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Clone_Opportunity_Record</name>
        <label>Create Clone Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Contact_Roles</targetReference>
        </connector>
        <inputReference>CloneOppoValues</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_CR_Records</name>
        <label>Create Related CR Records</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <inputReference>CloneBulkCR</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Roles</name>
        <label>Get Contact Roles</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opportunity_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Records</name>
        <label>Get Opportunity Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_Clone_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CloneBulkCR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>CloneCRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>CloneOppoValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
