force-app/main/default/flows/Conditional_Auto_Number_for_User_Assign_RRI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_User_to_Single_Variable</name>
        <label>Assign User to Single Variable</label>
        <locationX>138</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>SingeUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Round_Robin_Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Round_Robin_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_the_User_Count</name>
        <label>Get the User Count</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>CountOfUsers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Users_with_Round_Robin_Assigned</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_than_one_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Round_Robin</name>
        <label>Remove Round Robin</label>
        <locationX>292</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Round_Robin_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Current_User_Round_Robin</name>
        <label>Update Current User Round Robin</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>$Record.Round_Robin_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Current_User_Round_Robin1</name>
        <label>Update Current User Round Robin</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>$Record.Round_Robin_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Current_User_Round_Robin2</name>
        <label>Update Current User Round Robin</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>$Record.Round_Robin_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Get_Highest_Round_Robin_User</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Get Highest Round Robin User</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Users_with_Round_Robin_Assigned</collectionReference>
        <connector>
            <targetReference>Loop_Through_Round_Robin_Users</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Round_Robin_ID__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_for_Users</name>
        <label>Check for Users</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Removed_from_Specific_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Updated</defaultConnectorLabel>
        <rules>
            <name>Is_New_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Prepress_Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Users_with_Round_Robin_Assigned</targetReference>
            </connector>
            <label>Is New User</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_one_User</name>
        <label>More than one User</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_Current_User_Round_Robin2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User</defaultConnectorLabel>
        <rules>
            <name>More_than_one_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfUsers</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Highest_Round_Robin_User</targetReference>
            </connector>
            <label>More than one Users</label>
        </rules>
        <rules>
            <name>One_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfUsers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_User_Round_Robin1</targetReference>
            </connector>
            <label>One User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Removed_from_Specific_Profile</name>
        <label>Removed from Specific Profile?</label>
        <locationX>512</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Prepress_Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Prepress_Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Round_Robin</targetReference>
            </connector>
            <label>Removed</label>
        </rules>
        <rules>
            <name>Added_to_Prepress_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Prepress_Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Prepress_Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Users_with_Round_Robin_Assigned</targetReference>
            </connector>
            <label>Added to Prepress Profile</label>
        </rules>
    </decisions>
    <description>RRI = Round Robin Id
This Flow is all about Assigning Round Robin ID to Users</description>
    <formulas>
        <name>CurrentCount</name>
        <dataType>Number</dataType>
        <expression>{!SingeUser.Round_Robin_ID__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Conditional Auto Number for User (Assign RRI) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conditional Auto Number for User (Assign RRI)</label>
    <loops>
        <name>Loop_Through_Round_Robin_Users</name>
        <label>Loop Through Round Robin Users</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <collectionReference>Get_All_Users_with_Round_Robin_Assigned</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_User_to_Single_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Current_User_Round_Robin</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Users_with_Round_Robin_Assigned</name>
        <label>Get All Users with Round Robin Assigned</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_User_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Round_Robin_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Prepress_Profile.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prepress_Profile</name>
        <label>Get Prepress Profile</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prepress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Prepress_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOfUsers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SingeUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
