force-app/main/default/flows/Create_Bulk_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Bulk_Values</name>
        <label>Assign Bulk Values</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>BulkOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value</name>
        <label>Assign Value</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>SingleOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleOpportunity.Renewal_Oppo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunity.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleOpportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Bulk_Values</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>NewCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!SingleOpportunity.CloseDate} + 365</expression>
    </formulas>
    <interviewLabel>Create Bulk Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Bulk Records</label>
    <loops>
        <name>Loop_Through_Ids</name>
        <label>Loop Through Ids</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Bulk_Renewal_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Bulk_Renewal_Records</name>
        <label>Create Bulk Renewal Records</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>BulkOpportunities</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Ids</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>BulkOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
