force-app/main/default/flows/New_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Average</name>
        <choiceText>Average</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>BelowAverage</name>
        <choiceText>BelowAverage</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Excellent</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Poor</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>VeryGood</name>
        <choiceText>VeryGood</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <interviewLabel>New Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createReview</name>
        <label>createReview</label>
        <locationX>547</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Record_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Faults</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Core_Competencies_Comments__c</field>
            <value>
                <elementReference>Core_Competencies_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Competencies__c</field>
            <value>
                <elementReference>Core_Competencies</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experience_Comments__c</field>
            <value>
                <elementReference>Experience_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experience__c</field>
            <value>
                <elementReference>Experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Application__c</field>
            <value>
                <elementReference>varJobAppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leadership_Skills_Comments__c</field>
            <value>
                <elementReference>Leadership_Skills_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leadership_Skills__c</field>
            <value>
                <elementReference>Leadership_Skills</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Recommended__c</field>
            <value>
                <elementReference>Reason_Recommended</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommend_for_Hire__c</field>
            <value>
                <elementReference>Recommend_for_Hire</elementReference>
            </value>
        </inputAssignments>
        <object>Review__c</object>
    </recordCreates>
    <screens>
        <name>Display_Faults</name>
        <label>Display Faults</label>
        <locationX>657</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Fault_Message</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Review</name>
        <label>New Review</label>
        <locationX>280</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createReview</targetReference>
        </connector>
        <fields>
            <name>Experience</name>
            <choiceReferences>Excellent</choiceReferences>
            <choiceReferences>VeryGood</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>BelowAverage</choiceReferences>
            <choiceReferences>Poor</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Experience</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Experience_Comments</name>
            <dataType>String</dataType>
            <fieldText>Experience Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Leadership_Skills</name>
            <choiceReferences>Excellent</choiceReferences>
            <choiceReferences>VeryGood</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>BelowAverage</choiceReferences>
            <choiceReferences>Poor</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Leadership Skills</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Leadership_Skills_Comments</name>
            <dataType>String</dataType>
            <fieldText>Leadership Skills Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Core_Competencies</name>
            <choiceReferences>Excellent</choiceReferences>
            <choiceReferences>VeryGood</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>BelowAverage</choiceReferences>
            <choiceReferences>Poor</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Core Competencies</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Core_Competencies_Comments</name>
            <dataType>String</dataType>
            <fieldText>Core Competencies Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Recommend_for_Hire</name>
            <dataType>Boolean</dataType>
            <fieldText>Recommend for Hire</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_Recommended</name>
            <dataType>String</dataType>
            <fieldText>Reason Recommended</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Created</name>
        <label>Record Created</label>
        <locationX>424</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordCreated</name>
            <fieldText>Your review record has been created successfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>New_Review</startElementReference>
    <status>Active</status>
    <variables>
        <name>varJobAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
