force-app/main/default/flows/Total_Cases_on_Accounts_Based_on_Record_Types.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Count_of_Cases_to_Zero</name>
        <label>Assign Count of Cases to Zero</label>
        <locationX>226</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>countofcases</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bases_on_Case_Record_Types_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_on_CC1</name>
        <label>Assign Value on CC1</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>countofcases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Collection_of_Customer_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_on_PC1</name>
        <label>Assign Value on PC1</label>
        <locationX>490</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>countofcases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Collection_of_Partner_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Customer_Cases</name>
        <label>Assign Value to Customer Cases</label>
        <locationX>138</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>countofcases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_CC2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Partner_Cases</name>
        <label>Assign Value to Partner Cases</label>
        <locationX>490</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>countofcases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_PC_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Based_on_Case_Record_Type</name>
        <label>Based on Case Record Type</label>
        <locationX>226</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Partner_Case_Type_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>For Partner Cases</defaultConnectorLabel>
        <rules>
            <name>For_Customer_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Customer_Case_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Case_Type_Records</targetReference>
            </connector>
            <label>For Customer Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bases_on_Case_Record_Types_1</name>
        <label>Bases on Case Record Types 1</label>
        <locationX>226</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Get_Old_Partner_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>For Partner Cases1</defaultConnectorLabel>
        <rules>
            <name>For_Customer_Cases1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Customer_Case_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_Customer_Cases</targetReference>
            </connector>
            <label>For Customer Cases1</label>
        </rules>
    </decisions>
    <interviewLabel>Total Cases on Accounts - Based on Record Types {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total Cases on Accounts - Based on Record Types</label>
    <loops>
        <name>Loop_Through_CC2</name>
        <label>Loop Through CC2</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <collectionReference>Get_Old_Customer_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_to_Customer_Cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Customer_Cases_on_Account1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Collection_of_Customer_Cases</name>
        <label>Loop Through Collection of Customer Cases</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Customer_Case_Type_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_on_CC1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Customer_Cases_on_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Collection_of_Partner_Cases</name>
        <label>Loop Through Collection of Partner Cases</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Partner_Case_Type_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_on_PC1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Partner_Cases_on_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_PC_2</name>
        <label>Loop Through PC 2</label>
        <locationX>402</locationX>
        <locationY>1727</locationY>
        <collectionReference>Get_Old_Partner_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_to_Partner_Cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Partner_Cases_on_Account1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Customer_Case_Record_Type</name>
        <label>Get Customer Case Record Type</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner_Case_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Case_Type_Records</name>
        <label>Get Customer Case Type Records</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Collection_of_Customer_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Customer_Case_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Customer_Cases</name>
        <label>Get Old Customer Cases</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_CC2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Customer_Case_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Partner_Cases</name>
        <label>Get Old Partner Cases</label>
        <locationX>402</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_PC_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner_Case_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Case_Record_Type</name>
        <label>Get Partner Case Record Type</label>
        <locationX>226</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Based_on_Case_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Case_Type_Records</name>
        <label>Get Partner Case Type Records</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Collection_of_Partner_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner_Case_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Customer_Cases_on_Account</name>
        <label>Update Customer Cases on Account</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Assign_Count_of_Cases_to_Zero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Customer_Case__c</field>
            <value>
                <elementReference>countofcases</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_Cases_on_Account1</name>
        <label>Update Customer Cases on Account1</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Customer_Case__c</field>
            <value>
                <elementReference>countofcases</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_Cases_on_Account</name>
        <label>Update Partner Cases on Account</label>
        <locationX>402</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Assign_Count_of_Cases_to_Zero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Partner_Cases__c</field>
            <value>
                <elementReference>countofcases</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_Cases_on_Account1</name>
        <label>Update Partner Cases on Account1</label>
        <locationX>402</locationX>
        <locationY>2063</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Partner_Cases__c</field>
            <value>
                <elementReference>countofcases</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Customer_Case_Record_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countofcases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Collection_for_Partner_Cases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
